@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    @apply bg-ng-background-600
  }
  a, span, label {
    @apply font-inter text-gray-5
  }

  h1 {
    @apply font-inter text-white
  }

  .page-container {
    @apply w-96 bg-ng-background-100 text-xl pt-3
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
}