@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  ::-webkit-scrollbar {
    @apply w-2
  }

  ::-webkit-scrollbar-track {
    @apply bg-ng-background-300 rounded-lg
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-100 rounded-lg
  }

  :root {
    @apply bg-ng-background-600
  }
  a, span, label {
    @apply font-inter text-gray-5
  }

  h1 {
    @apply font-inter text-white
  }

  .page-container {
    @apply w-96 bg-ng-background-400 text-xl pt-3
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }

  .pane {
    @apply bg-ng-background-500 p-2 rounded-lg shadow-md border-2 border-ng-background-800
  }

  select {
    @apply !text-white rounded-md bg-ng-background-300 shadow-inner border-ng-background-400 border-2 !p-2 !text-sm
  }
}